/* Styling Basic Structure */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Color Guidelines */
:root {
  /* Golden Color */
  --accent-color: #F6C90E;
  /* Dark Grayish Blue Color */
  --text-color: #303841;
  /* Medium Grey-Blue */
  --base-color: #2E4750;
  /* White Smoke Color */
  --input-color: #F7F7F7;
  /* General Color */
  --general--color: #000000;
  /* Status Color */
  --status-color: #888888;
  /* Blue Color */
  --soft-color: #3b70c4;
  /* Blue Color */
  --sub-color: #A47251;
  /* Emerald Color */
  --success-color: #10b981;
  /* Error Color */
  --error-color: #c0392b;
}

/* Scrolling behaviour styling - when you navigate from section to another */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--input-color);
}

/* Home page styling */
/* ---------------- */
header {
  background-color: var(--accent-color);
  position: sticky;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  top: 0;
  z-index: 1000;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--base-color);
}

.logo-span {
  color: var(--general--color);
}

.logo:hover,
.logo-span:hover {
  color: var(--input-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  transition: color 0.2 ease;
}

.nav-link:hover {
  color: var(--input-color);
}

.nav-link.active {
  font-weight: 700;
  color: var(--general--color);
}

.homepage-section {
  background-color: var(--general--color);
  min-height: 70vh;
  padding: 60px 5%;
  /* border: 1px solid red; */
}

.hero-container {
  /* background-color: var(--input-color); */
  /* width: 90%;
  max-width: 1200px; */
  padding: 2rem 5%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(2, 2.5fr); */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 1fr; */
  gap: 2rem;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.hero-content h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--input-color);
}

.hero-content h1 .home-title {
  color: var(--accent-color);
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  color: var(--input-color);
  text-align: justify;
  word-spacing: 1.5px;
}

.btn-home {
  background: var(--accent-color);
  color: var(--general--color);
  width: 100%;
  max-width: 200px;
  padding: 12px 15px;
  margin: 0 auto;
  /* margin: 0 15px 10px 0; */
  display: inline-flex;
  /* gap: 30px; */
  justify-content: center;
  border-radius: 25px;
  /* text-align: center; */
}

.btn-home:hover {
  background: linear-gradient(to left, var(--accent-color), var(--input-color));
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hero-content .home-buttons-group {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin-top: 2rem;
}

.btn-home i {
  color: var(--general--color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 1.3rem;
}



.hero-image {
  width: 100%;
  /* max-width: 700px; */
  /* border: 1px solid red; */
}

.hero-image img {
  width: 100%;
  height: 380px;
  /* max-width: 600px; */
  /* height: auto; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  /* border: 1px solid wheat; */
}

/* End of Home page styling */
/* ----------------------- */

/* Developers page styling */
/* ---------------------- */
body.developers-page,
body.edit-developers-page,
body.skills-page,
body.edit-skill-page {
  background-color: var(--base-color);
}

.dev-title,
.edit-dev-title,
.skill-title,
.edit-skill-title {
  background: linear-gradient(to right, var(--accent-color), var(--input-color));
  text-align: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 18px;

}

.dev-title i,
.edit-dev-title i,
.skill-title i,
.edit-skill-title i {
  color: var(--base-color);
  margin-right: 20px;
}

.dev-title-span,
.edit-dev-title-span,
.skill-title-span,
.edit-skill-title-span {
  color: var(--general--color);
}

.left-heading-title,
.right-heading-title {
  text-align: center;
  background-color: var(--accent-color);
  margin: 2rem 0;
  padding: 10px 20px;
  border-radius: 15px;
}

.left-heading-title i,
.right-heading-title i {
  color: var(--base-color);
  margin-right: 20px;
}

.two-columns-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: start;
  padding: 2rem 5%;
}

.panel-layout {
  background: var(--input-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.Add-form-label {
  display: block;
  margin: 0.7rem 0 0.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.add-developer-form input,
.edit-developer-form input,
.add-skill-form input,
.add-skill-form select,
.edit-skill-form input,
.edit-skill-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--base-color);
  border-radius: 5px;
}

.add-developer-form input:focus,
.edit-developer-form input:focus,
.add-skill-form input:focus:not(.range-input),
.edit-skill-form input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.btn-add-dev-form,
.btn-edit-dev-form,
.btn-add-skill-form,
.btn-edit-skill-form {
  background: var(--accent-color);
  color: var(--general--color);
  width: 100%;
  margin-top: 1rem;
  padding: 12px 15px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.btn-edit-dev-cancel,
.btn-edit-skill-cancel {
  background: var(--error-color);
  color: var(--input-color);
  width: 100%;
  display: inline-block;
  margin: 1rem auto 0;
  /* margin-top: 1rem; */
  padding: 12px 15px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;

  text-align: center;
}

.btn-add-dev-form:hover,
.btn-edit-dev-form:hover,
.btn-edit-dev-cancel:hover,
.btn-add-skill-form:hover,
.btn-edit-skill-form:hover,
.btn-edit-skill-cancel:hover {
  background-color: var(--base-color);
  color: var(--input-color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-add-dev-form i,
.btn-edit-dev-form i,
.btn-edit-dev-cancel i,
.btn-add-skill-form i,
.btn-edit-skill-form i,
.btn-edit-skill-cancel i {
  /* color: var(--base-color); */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 1.3rem;
}

.btn-add-dev-form i:hover,
.btn-edit-dev-form i:hover,
.btn-edit-dev-cancel i:hover,
.btn-add-skill-form i:hover,
.btn-edit-skill-form i:hover,
.btn-edit-skill-cancel i:hover {
  color: var(--accent-color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1rem;
  border: 1px solid var(--status-color);
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}

.dev-full-name,
.skill-name {
  font-size: 1.05rem;
  font-weight: 600;
}

.dev-email {
  color: var(--base-color);
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

/* Skills inputs */
.skill-category {
  font-weight: 600;
}

.skill-desc,
.skill-category {
  color: var(--base-color);
  /* margin-left: 0.5rem; */
  font-size: 0.9rem;
  display: block;
}

/* end of skills inputs */

.card-actions {
  display: flex;
  gap: 0.5rem;
}

.edit-link {
  background-color: var(--accent-color);
  color: var(--general--color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
}

.delete-form {
  display: inline;
}

.btn-delete {
  background-color: var(--error-color);
  color: var(--input-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
}


.edit-link:hover,
.btn-delete:hover {
  background-color: var(--base-color);
  color: var(--input-color);
  text-transform: uppercase;
  transition: all 0.3s ease;
}


.no-status {
  color: var(--status-color);
  font-style: italic;
  font-size: 0.9rem;
  border: 2px dashed var(--base-color);
  padding: 2rem;
  text-align: center;
  border-radius: 6px;
}

/* End of Developers page styling */
/* ----------------------------- */

/* Edit Developer Page styling */
/* -------------------------- */
.edit-dev-title {
  margin: 2rem auto 1rem;
}

.edit-heading-title {
  background-color: var(--accent-color);
  width: 100%;
  max-width: 500px;
  margin: 1rem auto;
  padding: 10px 20px;
  border-radius: 18px;
  text-align: center;
}

.edit-heading-title i {
  color: var(--base-color);
  margin-right: 20px;
}

.edit-developer-wrapper {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 5%;
}

/* End of Edit Developers page styling */
/* ---------------------------------- */

/* Skills Page styling */
/* ------------------ */
.add-skill-form input[placeholder],
.add-skill-form select {
  text-align: center;
}

.percent-value-span {
  font-weight: 600;
  color: var(--base-color);
  margin-left: 20px;
}

.cards-container .dev-full-name,
.cards-container .skill-name {
  color: var(--soft-color);
}

.cards-container .skill-category {
  color: var(--sub-color);
}

.cards-container .dev-email,
.cards-container .skill-desc {
  color: var(--base-color);
  font-weight: 500;
}

.slider-wrapper {
  width: 100%;
  padding: 0.5rem 0;
}

.range-input {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: var(--input-color);
  outline: none;
  border: none;
  cursor: pointer;
}


/* End of Skills Page styling */
/* ------------------------- */

/* Edit Skills Page styling */
/* -------------------------- */
.edit-skill-title {
  margin: 2rem auto 1rem;
}

.edit-heading-title {
  background-color: var(--accent-color);
  width: 100%;
  max-width: 500px;
  margin: 1rem auto;
  padding: 10px 20px;
  border-radius: 18px;
  text-align: center;
}

.edit-heading-title i {
  color: var(--base-color);
  margin-right: 20px;
}

.edit-skill-wrapper {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 5%;
}

/* End of Edit Skills page styling */
/* ---------------------------------- */


.flash-messages {
  width: 90%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.flash-success {
  background-color: var(--input-color);
  color: var(--success-color);
  padding: 10px;
  animation: fadeOut 5s ease-in-out forwards;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.flash-error {
  /* background-color: #f8d7da; */
  background-color: var(--input-color);
  color: var(--error-color);
  padding: 10px;
  white-space: pre-line;
  line-height: 1.9;
  /* border: 1px solid #f5c6cb; */
}

/* End of Edit Developer Page styling */
/* --------------------------------- */

/* Footer Page styling */
/* ------------------ */
footer {
  background-color: var(--accent-color);
  width: 100%;
  padding: 2rem 5%;
  text-align: center;
}

.social-icons {
  font-size: 2rem;
  margin-top: 1rem;
}

.social-icons a {
  color: var(--general--color);
  margin: 0 10px;
}

.social-icons i:hover {
  background: linear-gradient(var(--input-color), var(--base-color));
  transition: 0.3s all ease;
  transform: scale(1.1);
}

/* Scroll up arrow styling - Let the user navigates to the top of the page in instant */
.scroll-up {
  background-color: var(--input-color);
  padding: 5px 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-up:hover {
  background: linear-gradient(var(--accent-color), var(--general--color));
  color: var(--input-color);
  border: 2px solid var(--input-color);
  transition: all 0.3s ease;
}

/* End of Footer Page styling */
/* ------------------------- */