<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{%block title %}{{ title }} {%endblock%}</title>
<!-- An external link CSS style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
<!-- Fonts -->
<!-- An external font (Poppins font) for the website -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet" />
<!-- Icons -->
<!-- A link to generate icons for the website -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="{% block body_class%}{% endblock %}">
  <header>
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <a href="{{ url_for('home')}}" class="logo">My<span class="logo-span">FlaskDB</span></a>
      </div>
      <!-- Navigation Menu Links -->
      <nav class="nav-bar">
        <ul class="nav-links">
          <li><a href="{{ url_for('home')}}" class="nav-link">Home</a></li>
          <li><a href="{{ url_for('about')}}" class="nav-link">About</a></li>
          <li><a href="{{ url_for('add_developer')}}" class="nav-link">Developers</a></li>
          <li><a href="{{ url_for('add_skill')}}" class="nav-link">Skills</a></li>
          <li><a href="{{ url_for('home')}}" class="nav-link">Contact Me</a></li>
          </a>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Page Content  -->
  <main>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
      <div class="flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Main Content -->
    {% block content %}
    <!-- The main section will be changing base on main's content in each page -->
    {% endblock %}
  </main>
  <footer>
    <div class="footer-container">
      <p>&copy; 2026 MyFlaskDB Pro | All rights reserved</p>
      <a href="#top" class="scroll-up" aria-label="An arrow points up" aria-labelledby="An anchor link"
        title="An arrow">
        <i class="fa-solid fa-arrow-up"></i></a>
      <div class="social-icons">
        <a href="https://youtube.com" target="_blank" aria-label="Youtube Website"><i
            class="fa-brands fa-youtube you-red"></i></a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIN Website"><i
            class="fa-brands fa-linkedin link-blue"></i></a>
        <a href="https://x.com" target="_blank" aria-label="X Website "><i class="fa-brands fa-twitter x-black"></i></a>
        <a href="https://github.com" target="_blank" aria-label="GitHub Website"><i
            class="fa-brands fa-github git-black"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>