{% extends "base.html" %} {%block body_class%}edit-skill-page{%endblock%} {% block content %}
<h1 class="edit-skill-title"><i class="fa-brands fa-buffer"></i>
  <span class="skill-title-span">M</span>anage <span class="skill-title-span">S</span>kills
</h1>
<!-- Update Skill Profile -->
<div class="edit-skill-wrapper">
  <h2 class="edit-heading-title"><i class="fa-solid fa-wand-magic-sparkles"></i>Update Skill Profile</h2>
  <section class="form-container panel-layout">
    <form action="{{ url_for('edit_skill', skill_id=skill.id)}}" method="POST" class="edit-skill-form">
      <!-- Skill Name -->
      <label for="name" class="Add-form-label">Skill Name</label>
      <input type="text" id="name" name="name" value="{{ skill.name }}" />
      <!-- Skill Description -->
      <label for="description" class="Add-form-label">Description</label>
      <input type="text" id="description" name="description" value="{{ skill.description }}" />
      <!-- Skill Category -->
      <label for="category" class="Add-form-label">Category</label>
      <select id="category" name="category">
        <option value="Frontend Development" {% if skill.category=='Frontend Development' %}selected{%endif%}>Frontend
          Development</option>
        <option value="Backend Development" {% if skill.category=='Backend Development' %}selected{%endif%}>Backend
          Development</option>
        <option value="Programming Languages" {% if skill.category=='Programming Languages' %}selected{%endif%}>
          Programming Languages</option>
        <option value="Databases" {% if skill.category=='Databases' %}selected{%endif%}>Databases</option>
        <option value="Tools & DevOps" {% if skill.category=='Tools & DevOps<' %}selected{%endif%}>Tools & DevOps
        </option>
        <option value="Design" {% if skill.category=='Design<' %}selected{%endif%}>Design</option>
        <option value="Marketing" {% if skill.category=='Marketing<' %}selected{%endif%}>Marketing</option>
        <option value="Others" {% if skill.category=='Others<' %}selected{%endif%}>Others</option>
      </select>
      <!-- Skill Proficiency Level -->
      <!-- <label for="percentage" class="Add-form-label">Proficiency Level: <span class="percent-value-span">{{
          skill.percentage }}%</span></label>
      <div class="slider-wrapper">
        <input type="range" name="percentage" id="percentage" min="0" max="100" value="{{ skill.percentage }}" step="1"
          class="range-input" />
      </div> -->

      <!-- Skill Image URL -->
      <!-- <label for="image_url" class="Add-form-label">Image URL</label>
      <input type="url" id="image_url" name="image_url" value="{{ skill.image_url }}" required /> -->

      <!-- Update Button -->
      <button type="submit" class="btn-edit-skill-form"><i class="fa-solid fa-pen"></i> Update
        Skill</button>
      <!-- Cancel Button -->
      <a href="{{ url_for('add_skill') }}" class="btn-edit-skill-cancel"><i class="fa-solid fa-ban"></i> Cancel</a>
    </form>
  </section>
</div>
<!-- Slider  -->
<script>
  const percentage = document.getElementById('percentage');
  const percentValueSpan = document.querySelector('.percent-value-span');

  percentage.oninput = () => {
    percentValueSpan.textContent = percentage.value + '%';

    if (percentage.value >= 0 && percentage.value <= 30) {
      percentValueSpan.style.color = '#ef4444';
    }

    else if (percentage.value > 30 && percentage.value <= 50) {
      percentValueSpan.style.color = '#f59e0b';
    }
    else if (percentage.value > 50 && percentage.value <= 70) {
      percentValueSpan.style.color = '#b45309';
    }
    else if (percentage.value > 70 && percentage.value <= 85) {
      percentValueSpan.style.color = '#10b981';
    }
    else {
      percentValueSpan.style.color = '#0ea874';
    }
  }

</script>
{% endblock %}