{% extends "base.html" %}{%block body_class%}skills-page{%endblock%} {% block content %}
<h1 class="skill-title"><i class="fa-brands fa-buffer"></i>
  <span class="skill-title-span">M</span>anage <span class="skill-title-span">S</span>kills
</h1>

<div class="two-columns-container">
  <!-- Left Column : Add Developer Form -->
  <section class="form-container panel-layout">
    <h2 class="left-heading-title"><i class="fa-solid fa-puzzle-piece"></i>Add New Skill</h2>
    <form action="{{ url_for('add_skill') }}" method="POST" class="add-skill-form">
      <!-- Skill Name -->
      <label for="skill_name" class="Add-form-label">Skill Name</label>
      <input type="text" id="skill_name" name="skill_name" placeholder="Please Enter a Skill Name"
        value="{{nameInput}}" />
      <!-- Category -->
      <label for="category" class="Add-form-label">Skill Category</label>
      <select id="category" name="category">
        <option value="">Select a Category</option>
        <option value="Frontend Development" {{ categoryInput=='Frontend Development' and 'selected' }}>Frontend
          Development</option>
        <option value="Backend Development" {{ categoryInput=='Backend Development' and 'selected' }}>Backend
          Development</option>
        <option value="Programming Languages" {{ categoryInput=='Programming Languages' and 'selected' }}>Programming
          Languages</option>
        <option value="Databases" {{ categoryInput=='Databases' and 'selected' }}>Databases</option>
        <option value="Tools & DevOps {{ categoryInput=='Tools & DevOps' and 'selected' }}">Tools & DevOps</option>
        <option value="Design" {{ categoryInput=='Design' and 'selected' }}>Design</option>
        <option value="Marketing" {{ categoryInput=='Marketing' and 'selected' }}>Marketing</option>
        <option value="Others" {{ categoryInput=='Others' and 'selected' }}>Others</option>
      </select>
      <!-- Skill Proficiency Level -->
      <!-- <label for="percentage" class="Add-form-label">Proficiency Level: <span
          class="percent-value-span">50%</span></label>
      <div class="slider-wrapper">
        <input type="range" name="percentage" id="percentage" min="0" max="100" value="50" step="1"
          class="range-input" />
      </div> -->
      <!-- Description -->
      <label for="description" class="Add-form-label">Description</label>
      <textarea id="description" name="description" rows="5" cols="30"
        placeholder="Please Enter a Skill Description">{{descriptionInput}}</textarea>

      <!-- Image URL -->
      <!-- <label for="image_url" class="Add-form-label">Image URL</label>
      <input type="url" id="image_url" name="image_url" placeholder="Please Enter an Image URL" /> -->
      <button type="submit" class="btn-add-skill-form"><i class="fa-solid fa-floppy-disk"></i> Add a Developer
        Skill</button>
    </form>
  </section>

  <!-- Right Column : List of Skills plus Edit/Delete Options -->
  <section class="list-skills-container panel-layout">
    <h2 class="right-heading-title"><i class="fa-solid fa-list"></i>List of Skills</h2>
    {% if skills %}
    <div class="cards-container">
      {% for skill in skills %}
      <div class="item-card">
        <div class="card-info">
          <span class="skill-name">{{ skill.name }}</span>
          <span class="skill-category">{{ skill.category }}</span>
          <span class="skill-desc">{{ skill.description }}</span>
        </div>
        <div class="card-actions">
          <a href="{{ url_for('edit_skill', skill_id=skill.id) }}" class="btn btn-small edit-link"><i
              class="fa-solid fa-pen-to-square"></i> Edit</a>

          <form action="{{ url_for('delete_skill', skill_id=skill.id) }}" method="POST" class="delete-form"
            onsubmit="return confirm('Are you sure? Deleting this will remove this skill permanently.')">

            <button type="submit" class="btn btn-small btn-delete"><i class="fa-solid fa-trash"></i>
              Delete</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="no-status">
      <p>No skills Added Yet. <br>Add some! to create your first portfolio.</p>
    </div>
    {% endif %}
  </section>
</div>
{% endblock %}