{% extends "base.html" %}{%block body_class%}skills-page{%endblock%} {% block content %}
<h1 class="skill-title"><i class="fa-brands fa-buffer"></i>
  <span class="skill-title-span">M</span>anage <span class="skill-title-span">S</span>kills
</h1>

<div class="two-columns-container">
  <!-- Left Column : Add Developer Form -->
  <section class="form-container panel-layout">
    <h2 class="left-heading-title"><i class="fa-solid fa-puzzle-piece"></i>Add New Skill</h2>
    <form action="{{ url_for('add_skill') }}" method="POST" class="add-skill-form">
      <!-- Skill Name -->
      <label for="skill_name" class="Add-form-label">Skill Name</label>
      <input type="text" id="skill_name" name="skill_name" placeholder="Please Enter a Skill Name" />
      <!-- Category -->
      <label for="category" class="Add-form-label">Skill Category</label>
      <select id="category" name="category">
        <option value="">Select a Category</option>
        <option value="Frontend Development">Frontend Development</option>
        <option value="Backend Development">Backend Development</option>
        <option value="Programming Languages">Programming Languages</option>
        <option value="Databases">Databases</option>
        <option value="Tools & DevOps">Tools & DevOps</option>
        <option value="Design">Design</option>
        <option value="Marketing">Marketing</option>
        <option value="Others">Others</option>
      </select>
      <!-- Skill Proficiency Level -->
      <label for="percentage" class="Add-form-label">Proficiency Level: <span
          class="percent-value-span">50%</span></label>
      <div class="slider-wrapper">
        <input type="range" name="percentage" id="percentage" min="0" max="100" value="50" step="1"
          class="range-input" />
      </div>
      <!-- Description -->
      <label for="description" class="Add-form-label">Description</label>
      <input type="text" id="description" name="description" placeholder="Please Enter a Skill Description" />

      <!-- Image URL -->
      <!-- <label for="image_url" class="Add-form-label">Image URL</label>
      <input type="url" id="image_url" name="image_url" placeholder="Please Enter an Image URL" /> -->
      <button type="submit" class="btn-add-skill-form"><i class="fa-solid fa-floppy-disk"></i> Add a Developer
        Skill</button>
    </form>
  </section>

  <!-- Right Column : List of Skills plus Edit/Delete Options -->
  <section class="list-skills-container panel-layout">
    <h2 class="right-heading-title"><i class="fa-solid fa-list"></i>List of Skills</h2>
    {% if skills %}
    <div class="cards-container">
      {% for skill in skills %}
      <div class="item-card">
        <div class="card-info">
          <strong class="dev-full-name">{{ skill.name }}</strong>
          <span class="dev-email">{{ skill.description }}</span>
        </div>
        <div class="card-actions">
          <a href="{{ url_for('edit_skill', skill_id=skill.id) }}" class="btn btn-small edit-link"><i
              class="fa-solid fa-pen-to-square"></i> Edit</a>

          <form action="{{ url_for('delete_skill', skill_id=skill.id) }}" method="POST" class="delete-form"
            onsubmit="return confirm('Are you sure? Deleting this will remove this skill permanently.')">

            <button type="submit" class="btn btn-small btn-delete"><i class="fa-solid fa-trash"></i>
              Delete</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="no-status">
      <p>No skills Added Yet. <br>Add some! to create your first portfolio.</p>
    </div>
    {% endif %}
  </section>
</div>
<!-- Slider  -->
<script>
  const percentage = document.getElementById('percentage');
  const percentValueSpan = document.querySelector('.percent-value-span');

  percentage.oninput = () => {
    percentValueSpan.textContent = percentage.value + '%';
    if (percentage.value >= 0 && percentage.value <= 30) {
      percentValueSpan.style.color = '#ef4444';
    }

    else if (percentage.value > 30 && percentage.value <= 50) {
      percentValueSpan.style.color = '#f59e0b';
    }
    else if (percentage.value > 50 && percentage.value <= 70) {
      percentValueSpan.style.color = '#b45309';
    }
    else if (percentage.value > 70 && percentage.value <= 85) {
      percentValueSpan.style.color = '#10b981';
    }
    else {
      percentValueSpan.style.color = '#0ea874';
    }
  }
</script>
{% endblock %}